<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Forum</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the Forum {{ if $.CurrentUserID }} {{.Name}} {{end}}</h1>
      <nav>
        <a href="/">Home</a>
        {{ if $.CurrentUserID }}
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        {{else}}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        {{end}}
      </nav>
    </header>
    <div class="container">
      <aside class="profile-sidebar">{{ template "sidebar" . }}</aside>
      <main>{{ block "content" . }}{{ end }}</main>
      {{ if $.CurrentUserID }}
        <aside class="profile-sidebar">{{ template "profile" . }}</aside>
      {{ end }}
    </div>
  </body>
  <script src="static/js/main.js"></script>
</html>
